<aside class="p-16 md:p-24" style="background-color: var(--hg-color-light-grey); border-right: 2px solid var(--hg-color-grey); width: 100%; max-width: 250px; min-height: 400px;">
  <nav>
    <ul class="list-clear">
      <li class="mb-8">
        <a href="/blog/" class="text-m" style="color: var(--hg-color-primary); text-decoration: none;">Blog</a>
      </li>
      <li class="mb-8">
        <a href="/proyectos/" class="text-m" style="color: var(--hg-color-primary); text-decoration: none;">Proyectos</a>
      </li>
      <li class="mb-8">
        <a href="/sobre-nosotros/" class="text-m" style="color: var(--hg-color-primary); text-decoration: none;">Sobre Nosotros</a>
      </li>
      <li class="mb-8">
        <a href="/servicios/" class="text-m" style="color: var(--hg-color-primary); text-decoration: none;">Servicios</a>
      </li>
      <li>
        <a href="/contacto/" class="text-m" style="color: var(--hg-color-primary); text-decoration: none;">Contacto</a>
      </li>
    </ul>
  </nav>
</aside>
