<header class="p-16 md:p-24" style="background-color: var(--hg-color-primary); color: var(--hg-color-white); border-bottom: 2px solid var(--hg-color-dark-grey);">
  <div class="row">
    <div class="col-xs-12">
      <div class="hg-d-flex hg-justify-between hg-items-center">
        <h1 class="h2 mb-0">Dutti</h1>
        <nav>
          <ul class="hg-d-flex hg-gap-16 list-clear">
            <li><a href="/" class="text-m" style="color: var(--hg-color-white);">Home</a></li>
            <li><a href="/docs/" class="text-m" style="color: var(--hg-color-white);">Documentación</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
