<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }} - Documentación</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holygrail5/dist/holygrail5.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="hg-d-flex hg-flex-column" style="min-height: 100vh;">
  {% include 'components/header.html' %}
  <div class="hg-d-flex hg-grow-1">
    {% include 'components/sidebar.html' %}
    <main class="hg-grow-1">
      <article class="p-16 md:p-24">
        <h1 class="h1 mb-24">{{ title }}</h1>
        {{ content | safe }}
      </article>
    </main>
  </div>
  {% include 'components/footer.html' %}
</body>
</html>
