@import 'holygrail5/dist/output.css';

/* Docs styles */
:root {
}

.docs-aside {
  background-color: var(--hg-color-primary);
  color: var(--hg-color-white);
}

.docs-aside a {
  color: var(--hg-color-white);
}

.card-featured {
  background-color: var(--hg-color-light-grey);
  border-radius: 8px;
}

.card-featured a {
  color: var(--hg-color-primary);
  text-decoration: underline;
}