@import 'holygrail5/dist/output.css';
@import '../../node_modules/holygrail2/scss/style.scss';
@import 'dutti/pdp';

html {
	scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

a:focus:not(:focus-visible) {
	outline: none;
}

a:focus-visible {
	outline: 2px solid var(--hg-color-primary);
	outline-offset: 2px;
}

// Variables
$primary-color: var(--hg-color-primary);
$secondary-color: #f4f2ed;
$white: var(--hg-color-white);
$black: var(--hg-color-black);
$dark-grey: var(--hg-color-dark-grey);
$grey: var(--hg-color-grey);
$light-grey: var(--hg-color-light-grey);
