@import 'holygrail5/dist/output.css';
@import '../../node_modules/holygrail2/scss/style.scss';
@import 'dutti/pdp';

// Variables
$primary-color: var(--hg-color-primary);
$secondary-color: #f4f2ed;
$white: var(--hg-color-white);
$black: var(--hg-color-black);
$dark-grey: var(--hg-color-dark-grey);
$grey: var(--hg-color-grey);
$light-grey: var(--hg-color-light-grey);
